[Desktop Entry]
Name=Aportes para educ.ar
Exec=xdg-open http://www.aportes.educ.ar/
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar
OnlyShowIn=MATE;
Icon=/usr/share/pixmaps/educar/ico-para-educar.jpg

