[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open /media/RECURSOS/AprenderIngles/INDEX.HTM
Name=Aprender Ingles
Icon=/media/RECURSOS/iconos/Windows/ico-just-english.jpg
Categories=huayra-ingles