[Desktop Entry]
Name=Conectate - Elegí, mirá y descargá
Exec=xdg-open http://www.conectate.gob.ar
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar
OnlyShowIn=MATE;
Icon=/usr/share/pixmaps/educar/ico-conectate.jpg

