[Desktop Entry]
Name=Energías de mi país - Recursos energéticos de Argentina
Exec=xdg-open http://energiasdemipais.educ.ar/
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar
OnlyShowIn=MATE;
Icon=web-browser

