[Desktop Entry]
Name=Guía de Carreras Universitarias
Exec=xdg-open http://guiadecarreras.siu.edu.ar/index.php
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar
OnlyShowIn=MATE;
Icon=/usr/share/pixmaps/educar/ico-guia-universidades.jpg

