[Desktop Entry]
Name=Just English (Nacchhhhooooo!!!!)
Exec=xgd open Correrrrgirr donde apunta
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-ingles
OnlyShowIn=MATE;
Icon=web-browser

