[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open /media/RECURSOS/Mapoteca/.files/index.html
Name=Mapoteca
Icon=/media/RECURSOS/iconos/Windows/ico-mapoteca.jpg
