[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open /media/RECURSOS/Mapoteca/.files/index.html
Name=Mapoteca
Icon=/usr/share/pixmaps/educar/ico-mapoteca.jpg
Categories=huayra-sociales
