[Desktop Entry]
Name=Efemérides escolares
Exec=xdg-open http://www.educ.ar/sitios/educar/recursos/?seccion=efemerides&referente=docentes
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-sociales
OnlyShowIn=MATE;
Icon=/usr/share/pixmaps/educar/ico-efemerides.jpg
