[Desktop Entry]
Name="Historia de los partidos políticos - El Peronismo | 1945 - 1974"
Exec=xdg-open "/media/RECURSOS/videos/encuentro/apto pa-pp-35913.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
