[Desktop Entry]
Name=Los días de Galeano
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35907.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
