[Desktop Entry]
Name=Revoluciones - Revolución haitiana
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35859.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc

