[Desktop Entry]
Name=Efemérides - 25 de Mayo
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35875.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
