[Desktop Entry]
Name=Escenas de la historia de un país - La reforma de 1949
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35887.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
