[Desktop Entry]
Name=Mentira la verdad - La verdad
Exec=xdg-open "/media/RECURSOS/videos/encuentro/apto-pa-pp-35910 mentira la verdad - la verdad.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc

