[Desktop Entry]
Name=Los días de Galeano - Entrevista 2
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35908.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
