[Desktop Entry]
Name=Los partidos políticos - Peronismo
Exec=xdg-open "/media/RECURSOS/videos/encuentro/apto pa-pp-35913.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
