[Desktop Entry]
Name=Mentira la verdad - La amistad
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35909.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
