[Desktop Entry]
Name=Revoluciones - Revolución Rusa
Exec=xdg-open /media/RECURSOS/videos/encuentro/apto-pa-pp-35867.mp4
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-encuentro
OnlyShowIn=MATE;
Icon=vlc
