[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open /media/RECURSOS/AprenderIngles/INDEX.HTM
Name=Aprender Inglés (Sin conexión)
Icon=/usr/share/pixmaps/educar/ico-just-english.jpg
Categories=huayra-ingles
