[Desktop Entry]
Name=Lecturas diarias
Exec=xdg-open http://www.educ.ar/sitios/educar/seccion/?ir=practica_de_lectura
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-lengua
OnlyShowIn=MATE;
Icon=/usr/share/pixmaps/educar/ico-practica-lecturas-diarias.jpg

