[Desktop Entry]
Name=Prejuicios
Exec=xdg-open "/media/RECURSOS/videos/paridadesigualdad/prejuicios cortometraje ganador voto popular   concurso 'paridad es igualdad'.avi"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-paridadesigualdad
OnlyShowIn=MATE;
Icon=vlc

