[Desktop Entry]
Name=Difícil ser joven
Exec=xdg-open "/media/RECURSOS/videos/informekliksberg/capitulo_03 - dificil ser joven.avi"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-informekliksberg
OnlyShowIn=MATE;
Icon=vlc

