[Desktop Entry]
Name=Animapaka 2
Exec=xdg-open "/media/RECURSOS/videos/pakapaka/animapaka 2.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-pakapaka
OnlyShowIn=MATE;
Icon=vlc

