[Desktop Entry]
Name=Medialuna y las noches mágicas. El cumpleaños de medialuna
Exec=xdg-open "/media/RECURSOS/videos/pakapaka/medialuna y las noches mágicas. el cumpleaños de medialuna.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-pakapaka
OnlyShowIn=MATE;
Icon=vlc

