[Desktop Entry]
Name=Zamba en Yapeyú
Exec=xdg-open "/media/RECURSOS/videos/pakapaka/zamba en yapeyú.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-pakapaka
OnlyShowIn=MATE;
Icon=vlc

