[Desktop Entry]
Name=Zamba en la casa de Sarmiento
Exec=xdg-open "/media/RECURSOS/videos/pakapaka/zamba en la casa de sarmiento.mp4"
Terminal=false
Type=Application
StartupNotify=false
Categories=huayra-educar-videos-pakapaka
OnlyShowIn=MATE;
Icon=vlc

